body {
    background-color: rgb(238, 238, 245);
    margin: 0;
}

footer {
    position: absolute;
    range: 0;
    bottom: 0;
    font-size: 20px;
    color: aliceblue;
    line-height: 30px;
    width: 100%;
    padding-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(151, 187, 246);
    background: linear-gradient(blue, grey);
    background: -moz-linear-gradient(blue, grey);
    background: -o-linear-gradient(blue, grey);
    /*BROWSER "OPERA" */
    background: -moz-linear-gradient(blue, grey);
    /*BROWSER "MOZILA" */
    background: -webkit-linear-gradient(blue, grey);
    /*BROWSER "SAFARI" */
}

.snakeTopo {
    background-color: rgb(184, 179, 179);
    height: 50px;

}

.snakeTopoInt {
    width: auto;
    height: 50px;
    max-width: 1040px;
    margin: auto;
}

.snakeIntLeft {
    width: 45%;
    height: 20px;
    float: left;
    text-align: right;
    font-size: large;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(17, 4, 4);
    font-style: oblique;
    padding: 10px;
}

.snakeIntRight {
    width: 49%;
    height: 20px;
    float: right;
    padding: 05px;
}